body {
  font-size: 18px;
}

div, header, h1, h5, nav, ul, li, a, main, footer, p {
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: [main-start] 1fr [center-start] 1fr [col-start] 1fr 1fr [center-end] 1fr [main-end];
  /*grid-template-rows: minmax(100px, auto);*/
  grid-template-rows: [header-start] 200px 200px [header-end] auto auto;
  grid-auto-rows: auto;
  grid-gap: 5px;
}

#main-header,
#hero-img,
#main-content,
#footer {
  grid-column: main-start / main-end;
}

#main-header {
  margin: 0 2%;
}

#main-header h1,
#main-header nav {
  margin: 4% 0;
}

#hero-img {
  background-color: pink;
  background-image: url('../imgs/top-view-plant.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#main-content p {
  font-size: 1.2em;
  line-height: 40px;
  padding: 2%;
}

#red-box {
  background-color: Crimson;
}

#footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#footer-title,
#footer-list {
  margin: 0;
}

#footer-list {
  grid-column: 2/5;
}

#footer-list li {
  list-style-type: none;
}

#footer-list li a {
  text-decoration: none;
  float: left;
}


@media all and (min-width:650px) {
  #hero-img {
    grid-row: header-start / header-end;
  }

  #main-header {
    grid-column: center-start / col-start;
  }

  #main-content {
    grid-column: col-start / center-end;
  }
}
